<div class="form-auth">
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="logo" />
  </div>

  <div class="arrow">
    <i class="pi pi-arrow-left" (click)="goToHomePage()"></i>
  </div>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form">
    <h1 class="title">{{ title }}</h1>

    <p-inputText *ngIf="isSignup" formControlName="username" placeholder="Nom d'utilisateur" [ngClass]="{'p-invalid': usernameError}">
    </p-inputText>
    <small class="p-error" *ngIf="usernameError">{{ usernameError }}</small>

    <p-inputText *ngIf="isSignup" formControlName="email" placeholder="Email" [ngClass]="{'p-invalid': emailError}">
    </p-inputText>
    <small class="p-error" *ngIf="emailError">{{ emailError }}</small>

    <p-inputText *ngIf="isLogin" formControlName="emailOrUsername" placeholder="Email ou nom d'utilisateur" [ngClass]="{'p-invalid': emailOrUsernameError}">
    </p-inputText>
    <small class="p-error" *ngIf="emailOrUsernameError">{{ emailOrUsernameError }}</small>

    <p-password formControlName="password" placeholder="Mot de passe" [ngClass]="{'p-invalid': passwordError}" toggleMask>
    </p-password>
    <small class="p-error" *ngIf="passwordError">{{ passwordError }}</small>

    <p-button type="submit" [label]="submitLabel"></p-button>
  </form>
</div>
