.form-auth {
    text-align: center;
}
  
.logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: 2px solid;
}

.arrow {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
  
.logo img {
  width: 200px;
}

.title {
  font-size: 30px;
}

mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

button {
  background-color: #7664c5c5;
  color: white;
  padding: 2px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #7664C5;
}