<div class="form-auth">
  <div class="logo">
    <img src="/assets/logo_p6.png" alt="logo" />
  </div>

  <div class="arrow-back">
    <i class="material-icons" (click)="goToHomePage()">arrow_back</i>
  </div>

  <div class="flex flex-col">
      <h1 class="title">{{ title }}</h1>
      
      <div class="form-field" *ngIf="isSignup">
        <label for="username">Nom d'utilisateur</label>
        <input pinputtext="" id="username" type="text" class="p-inputtext p-component p-inputtext-fluid" pc1081="">
      </div>
      <div class="form-field" *ngIf="isSignup">
        <label for="email">Adresse e-mail</label>
        <input pinputtext="" id="email" type="text" class="p-inputtext p-component p-inputtext-fluid" pc1082="">
      </div>

      <div class="form-field" *ngIf="isLogin">
        <label for="emailOrUsername">E-mail ou nom d'utilisateur</label>
        <input pinputtext="" id="emailOrUsername" type="text" class="p-inputtext p-component p-inputtext-fluid" pc1081="">
      </div>

      <div class="form-field">
        <label for="password">Mot de passe</label>
        <input pinputtext="" id="password" type="text" class="p-inputtext p-component p-inputtext-fluid" pc1083="">
      </div>
      
      <p-button type="submit" label="{{ submitLabel }}" class="button"></p-button>
  </div>
</div>
